cluster columns before deleting currency

In [1]:
# Import necessary libraries and modules
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Load the dataset
df = pd.read_csv("anonymized_data.csv", low_memory=False)
df = df.rename(columns=lambda x: x.lower())

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707 entries, 0 to 1706
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           1707 non-null   object
 1   amount            1707 non-null   object
 2   currency          1707 non-null   object
 3   direction         1707 non-null   object
 4   cash in/cash out  1707 non-null   object
 5   effective_date    1707 non-null   object
 6   description       1707 non-null   object
 7   label             1707 non-null   object
dtypes: object(8)
memory usage: 106.8+ KB

In [3]:
# Display the first few rows of the dfset, df types, and a basic statistical summary
print(df.info())
print(df.head())
print(df.describe(include = 'all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707 entries, 0 to 1706
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           1707 non-null   object
 1   amount            1707 non-null   object
 2   currency          1707 non-null   object
 3   direction         1707 non-null   object
 4   cash in/cash out  1707 non-null   object
 5   effective_date    1707 non-null   object
 6   description       1707 non-null   object
 7   label             1707 non-null   object
dtypes: object(8)
memory usage: 106.8+ KB
None
  account    amount currency direction cash in/cash out effective_date  \
0     a 1  1,814.39      USD    credit          Cash in     2023-02-28
1     a 1     16.00      USD     debit         Cash out     2023-02-28
2     a 1     16.00      USD     debit         Cash out     2023-02-28
3     a 1    246.75      USD     debit         Cash out     2023-02-28
4     a 1      4.80      USD     debit         Cash out     2023-02-28

                                 description                          label
0                Vkgin Lotgtik YKZZRKSKTZ 40                         Income
1  XGSV XKOSHAXYK J Laxahuzz 230227 I1787393  LSP Reimbursements Receivable
2  XGSV XKOSHAXYK J Laxahuzz 230227 I1787379  LSP Reimbursements Receivable
3  XGSV XKOSHAXYK R UqunHxuc 230227 I1785809  LSP Reimbursements Receivable
4     XGSV XKOSHAXYK G Gtack 230227 I1786344  LSP Reimbursements Receivable
       account    amount currency direction cash in/cash out effective_date  \
count     1707      1707     1707      1707             1707           1707
unique       8      1377        1         2                2             19
top        a 1  2,223.00      USD     debit         Cash out     2023-02-17
freq      1165        30     1707      1398             1398            388

               description            label
count                 1707             1707
unique                1495                6
top     INKIQ (YAHYZOZAZK)  LSP cash payout
freq                    22              706

In [4]:
df.label.value_counts()

label
LSP cash payout                         706
Financing                               415
LSP Reimbursements Receivable           404
Income                                   84
Payroll                                  76
Bank Charges & Fees/Currency changes     22
Name: count, dtype: int64

In [5]:
# Removing commas and converting the 'amount' column to numeric type
df['amount'] = df['amount'].replace('[\$,]', '', regex=True).astype(float)

# Display the first few rows to verify the transformation
df_head_transformed_amount = df.head()
df_head_transformed_amount

,account,amount,currency,direction,cash in/cash out,effective_date,description,label
0,a 1,1814.39,USD,credit,Cash in,2023-02-28,Vkgin Lotgtik YKZZRKSKTZ 40,Income
1,a 1,16.00,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK J Laxahuzz 230227 I1787393,LSP Reimbursements Receivable
2,a 1,16.00,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK J Laxahuzz 230227 I1787379,LSP Reimbursements Receivable
3,a 1,246.75,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK R UqunHxuc 230227 I1785809,LSP Reimbursements Receivable
4,a 1,4.80,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK G Gtack 230227 I1786344,LSP Reimbursements Receivable

In [6]:
# Converting 'effective_date' to datetime and extracting day of the week, month, and year
df['effective_date'] = pd.to_datetime(df['effective_date'])
df['day_of_week'] = df['effective_date'].dt.day_name()
df['month'] = df['effective_date'].dt.month
df['year'] = df['effective_date'].dt.year


# Display the first few rows to verify the transformation
df_head_transformed_date = df.head()
df_head_transformed_date

,account,amount,currency,direction,cash in/cash out,effective_date,description,label,day_of_week,month,year
0,a 1,1814.39,USD,credit,Cash in,2023-02-28,Vkgin Lotgtik YKZZRKSKTZ 40,Income,Tuesday,2,2023
1,a 1,16.00,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK J Laxahuzz 230227 I1787393,LSP Reimbursements Receivable,Tuesday,2,2023
2,a 1,16.00,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK J Laxahuzz 230227 I1787379,LSP Reimbursements Receivable,Tuesday,2,2023
3,a 1,246.75,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK R UqunHxuc 230227 I1785809,LSP Reimbursements Receivable,Tuesday,2,2023
4,a 1,4.80,USD,debit,Cash out,2023-02-28,XGSV XKOSHAXYK G Gtack 230227 I1786344,LSP Reimbursements Receivable,Tuesday,2,2023

In [7]:
df.nunique()

account                8
amount              1377
currency               1
direction              2
cash in/cash out       2
effective_date        19
description         1495
label                  6
day_of_week            5
month                  1
year                   1
dtype: int64

In [8]:
df.drop(columns = ['month','year','cash in/cash out','effective_date','currency'],inplace = True)

In [9]:
df['bank'] = df['account'].apply(lambda x: x.split(" ")[0])

In [10]:
df

,account,amount,direction,description,label,day_of_week,bank
0,a 1,1814.39,credit,Vkgin Lotgtik YKZZRKSKTZ 40,Income,Tuesday,a
1,a 1,16.00,debit,XGSV XKOSHAXYK J Laxahuzz 230227 I1787393,LSP Reimbursements Receivable,Tuesday,a
2,a 1,16.00,debit,XGSV XKOSHAXYK J Laxahuzz 230227 I1787379,LSP Reimbursements Receivable,Tuesday,a
3,a 1,246.75,debit,XGSV XKOSHAXYK R UqunHxuc 230227 I1785809,LSP Reimbursements Receivable,Tuesday,a
4,a 1,4.80,debit,XGSV XKOSHAXYK G Gtack 230227 I1786344,LSP Reimbursements Receivable,Tuesday,a
...,...,...,...,...,...,...,...
1702,a 3,1685.50,debit,XGSV XKOSHAXYK T Ngxtoq 230131 I1584731,LSP Reimbursements Receivable,Wednesday,a
1703,a 3,952.58,debit,XOVVROTM VGEXURR Q3TVDPSSR1E7KC5,Payroll,Wednesday,a
1704,a 3,343.00,debit,XOVVROTM ZGDCOZNJXG SX5WQVJRW7TMBG1,Payroll,Wednesday,a
1705,a 3,7577.70,credit,GLLOXS OTI GazuVge 230131 1XLZH028CIQZGYE,Financing,Wednesday,a
1706,a 3,943.81,debit,XOVVROTM VGEXURR STE5M07VBEXU5UG,Payroll,Wednesday,a

In [11]:
df.amount = np.log(df.amount)

In [12]:
df.amount

0       7.503505
1       2.772589
2       2.772589
3       5.508376
4       1.568616
          ...
1702    7.429818
1703    6.859174
1704    5.837730
1705    8.932965
1706    6.849925
Name: amount, Length: 1707, dtype: float64

In [13]:
df.to_csv('processed_data.csv',index = False)